Options -indexes
RewriteEngine On
RewriteBase /blog-gpt/admin
RewriteRule ^liste/(.*)$ index.php?sayfa=liste&tablo=$1 [NC]
RewriteRule ^modul-ekle$ index.php?sayfa=modul-ekle [NC]
RewriteRule ^ekle/(.*)$ index.php?sayfa=ekle&tablo=$1 [NC]
RewriteRule ^duzenle/(.*)/(.*)$ index.php?sayfa=duzenle&tablo=$1&ID=$2 [NC]
RewriteRule ^sil/(.*)/(.*)$ index.php?sayfa=sil&tablo=$1&ID=$2 [NC]
RewriteRule ^seo-ayarlari$ index.php?sayfa=seo-ayarlari [NC]
RewriteRule ^blog-ekle$ index.php?sayfa=blog-ekle [NC,QSA,L]
RewriteRule ^blog-listele$ index.php?sayfa=blog-listele [NC]
RewriteRule ^kategori-ekle$ index.php?sayfa=kategori-ekle [NC,QSA,L]
RewriteRule ^kategori-listele$ index.php?sayfa=kategori-listele [NC]
RewriteRule ^kuyruk-olustur$ index.php?sayfa=kuyruk-olustur [NC]
RewriteRule ^kuyruk-listele$ index.php?sayfa=kuyruk-listele [NC]
RewriteRule ^iletisim-ayarlari$ index.php?sayfa=iletisim-ayarlari [NC]
RewriteRule ^giris-yap$ login.php [NC]
RewriteRule ^cikis$ index.php?sayfa=cikis [NC]